.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
__pyache__/*
*.pyc
*.idea
*.ipynb_checkpoints
Pipfile.lock
src/prairie/blocks/test/