$UI-font-color: rgb(40, 40, 40);
$UI-background-color: #fafafa;
$UI-background-contrast: white;



$UI-color-active: #5b91ff;
$UI-color-active: #727272;



$UI-border-color: #e7e7e7;
$UI-button-color: #727272;
$file-tree-font-color: #777777;

$UI-button-hover-color: lighten($UI-button-color, 10%);
$UI-button-clicked-color: darken($UI-button-color, 20%);

$UI-tool-button-color: black;


// /////@at-root

// $UI-font-color: rgb(233, 233, 233);
// $UI-background-color: #353535;
// $UI-background-contrast: rgb(185, 185, 185);



// $UI-color-active: #5b91ff;

// $UI-border-color: #6e6e6e;
// $UI-button-color: #bdbdbd;
// $file-tree-font-color: #777777;

// $UI-button-hover-color: darken($UI-button-color, 10%);
// $UI-button-clicked-color: darken($UI-button-color, 20%);

// $UI-tool-button-color: black;

