@import './prairie-colors.scss';


$icon-font-family: "fontawesome" !important;
$font-size: 16px;

$icon-color: lighten($UI-button-color, 20%);

@font-face {
    font-family: "fontawesome";
    src: url("../assets/fontawesome-free-5.6.3-web/webfonts/fa-solid-900.ttf");
  }

$right-arrow: "\f0da";
$down-arrow: "\f0d7";
$directory: "\f07b";
$open-directory: "\f07c";
$python-file: "\f1c9";
$file: "\f15c";
$function: "\f0c3";
$prairie-file: "\f06c";
$node: "\f1de";
$play: "\f04b";
$gui-editor: "\f24d";
$zoom: "\f00e";


// @font-face {
//     font-family: "fontawesome";
//     src: url("../assets/fontawesome-free-5.6.3-web/webfonts/fa-regular-400.ttf");
//   }

// $icon-font-family: "fontawesome";
// $font-size: 18px;

// $right-arrow: "\f0da";
// $down-arrow: "\f0d7";
// $directory: "\f07b";
// $open-directory: "\f07c";
// $python-file: "\f1c9";
// $file: "\f15c";
// $function: "\f3a5";
// $prairie-file: "\f06c";
// $node: "\f111";
// $play: "\f1d8";
// $gui-editor: "\f24d";


// @font-face {
//     font-family: "feather";
//     src: url("../assets/Feather.ttf");
//   }

// $icon-font-family: "feather";
// $font-size: 18px;

// $right-arrow: "\e930";
// $down-arrow: "\e92e";
// $directory: "\e968";
// $open-directory: "\e968";
// $python-file: "\f1c9";
// $file: "\e961";
// $function: "\e9a2";
// $prairie-file: "\e960";
// $node: "\f111";
// $play: "\e9af";
// $gui-editor: "\e980";

@mixin menu-icon($name) {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
      
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font: $icon-font-family;
    content: $name;
    font-size: $font-size;
}

