/* .block {
  fill: #FFFFFF;
  opacity: 0.8;
  stroke: #C0C0C0;
  stroke-width: 1.4;
  stroke-opacity: 1;
  radius: 1;
} */

@import url('./codemirror.css');
@import url('./github-light.css');
@import url('./prairieoutput.scss');
@import url('./katex.css');

@mixin non-reactive-text() {
  user-select: none; 
  cursor: default;
};

// $UI-color-active: #5b91ff;

.header {
  background-color: #F1F2F4;
  stroke: #C5C5C5;
  stroke-width: 0.7;
  border: 0.7px solid #C5C5C5;
  color:#8B919A;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
}

.block-group.error .header {
  border-color: #E07F7F;
  background-color: #FFCED0;
}

.header-font {
  color:#8B919A;
  font-weight: bold;
  font-family: Arial;
  font-size: 13px;
  user-select: none; 
  user-select: none; 
  cursor: default;
}

.block-group.error .header-font {
  background-color: #E07F7F;
}

.block-group.error .header-font {
  background-color: #E07F7F;
}

.node.connected {
  background-color: #D4D7D9;
}

.node.unconnected {
  background-color: #FFFFFF;
  stroke: #DDDDDD;
  stroke-width: 1;
  border: 1px solid #DDDDDD;
}

.block-group.error .node-group .node.unconnected {
  stroke: #E07F7F;
}

.block-group.error .node-group .node.connected {
  stroke: #E07F7F;
  background-color: #E07F7F;
}


#prairie .block {
  background-color: #FFFFFF;
  opacity: 1;
  border: 1.2px solid #DDDDDD;
  // border: 1.2px solid #C5C5C5;
  border-radius: 6px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}

.block-stroke {
  background-color-opacity: 0;
  stroke: #C5C5C5;
  stroke-width: 0.7;
}

.block-group.error .block-stroke {
  stroke: rgb(209, 76, 76);
}

.input-block{
  background-color: white;
  stroke-width: 0;
  opacity: 0.8;
}

/* .selected {
  background-color: rgb(25, 35, 49);
} */

.unselected {
  opacity: 0;
  transition: opacity 0.3s,
  background-color 0.3s ;
}

.unselected .output-block{
  background-color: rgb(189, 189, 189);
  opacity: 0
}



.connection.unselected {
  opacity: 0
}

.unselected .CodeMirror,
.unselected .plot-container{
  opacity: 0
}

.unselected .bk-plot-layout {
  opacity: 0
}

.static-code-block{
  background-color: #00000000;
  stroke-width: 0;
}

.static-code-block + .block-stroke {
  stroke: #00000000;
}

/************/
.block_name {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: system-ui;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'IBM Plex Sans', sans-serif; */
  background-color: #C0C0C0;
  font-size: 12px;
  font-weight: 300;
  /* font-style: italic; */
}
/* .node {
  background-color: #C0C0C0;
} */
.connection {
  fill: none;
  stroke: #C0C0C0;
  stroke-width: 2;
}

.block-tool-icon {
  fill: #c8c8c8;
}
.block-tool-icon:active {
  fill: #828282;
}
.bk-button-bar {
  webkit-user-select: none;
}
.bk-tip {
  webkit-user-select: none;
}
.blueprint-frame-normal {
  fill: none;
  stroke: #eeeeee;
  stroke-width: 1.5;
}
.blueprint-text {
  font-family: 'Roboto Mono', monospace;
  fill: #eeeeee;
  font-size: 25px;
  font-weight: 400;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.block_id_text {
  display: none;
  font: system-ui;
  fill: #C0C0C0;
  font-size: 10px;
  font-weight: 200;
}

.node-background:hover ~ .tip {
    opacity: 1;
  }

.tip {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #8B919A;
  font-size: 12px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgba(85, 71, 71, 0.1);
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  padding: 5px;
  user-select: none; 
  cursor: default;
  pointer-events: none;
}

.fobj {
  user-select: none; 
}

.node {
  box-sizing: border-box;
  border-radius: 50%;
  opacity: 0.3;
}

.node.node.unconnected {
  opacity: 0.8;
}


.node-background:hover ~ .node {
  background-color: #828282;
}

.tab-content {
  background-color: #FFFFFF;
}

.header {
  fill: #F1F2F4;
  stroke: #C5C5C5;
  stroke-width: 0.7;
}

.icon-text {
  fill:#8B919A;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
}

.cover-in,
.cover-out {
    background-color: #F6F8FA;
    border: 1.2px solid #DDDDDD;
    margin-top: -1.2px;
    margin-left: -1.2px;
}

.cover-in {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.cover-out {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


.header {
  fill:#8B919A;
  font-weight: bold;
  font-family: Arial;
  font-size: 14px;
}

.block-icon {
  opacity: 0.5;
}

.node {
  pointer-events: none;
}

#prairie .block.output-block{
  background-color: #676767;
  border-color: #676767;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.katex {
  font-size: 15px;
}